# Kubernetes
kubeconfig: /home/ansible/.kube/config

# Moodle
moodle:
  namespace: moodle
  release_name: moodle
  replica_count: 3
  service:
    type: NodePort
    nodePort: 31203
  persistence:
    enabled: true
    size: 200Gi
    storageClass: rook-cephfs
    accessModes:
      - ReadWriteMany
  resources:
    requests:
      cpu: "8000m"
      memory: "8Gi"
    limits:
      cpu: "10000m"
      memory: "12Gi"

# External DB (non-secret)
external_db:
  host: moodle-db-cluster.database.svc.cluster.local
  port: 5432
  user: moodleuser
  database: moodledb
  type: pgsql

# Dragonfly (non-secret)
dragonfly:
  namespace: dragonfly-system
  host: dragonfly-redis-master.dragonfly-system.svc.cluster.local
  port: 6379

# Secrets
external_db_password: "PQl5YR30j9geR9NrgLTPxzTBkNZ2OYIDDiLaDZm946Nk7O1mWmPsArY5C7yj9vcw"
dragonfly_password: "dragonfly"
moodle_admin_password: "admin123"

