# playbooks/deploy-moodle.yml
---
- name: Deploy Moodle via Helm
  hosts: localhost
  gather_facts: false

  vars_files:
    - ../inventories/prod/group_vars/all.yml  # loads kubeconfig and all values

  tasks:
    - name: Add Bitnami Helm repo
      kubernetes.core.helm_repository:
        name: bitnami
        repo_url: https://charts.bitnami.com/bitnami
      environment:
        KUBECONFIG: "{{ kubeconfig }}"

    - name: Create Moodle ConfigMap from template
      kubernetes.core.k8s:
        name: moodle-config-from-template
        namespace: "{{ moodle.namespace }}"
        definition:
          apiVersion: v1
          kind: ConfigMap
          metadata:
            name: moodle-config-from-template
            namespace: "{{ moodle.namespace }}"
          data:
            config.php: "{{ lookup('template', '../templates/config.php.clean.j2') | trim }}"
      environment:
        KUBECONFIG: "{{ kubeconfig }}"


    - name: Deploy Moodle
      kubernetes.core.helm:
        name: "{{ moodle.release_name }}"
        chart_ref: bitnami/moodle
        release_namespace: "{{ moodle.namespace }}"
        create_namespace: true
        kubeconfig: "{{ kubeconfig }}"
        timeout: 30m
        values:
          global:
            security:
              allowInsecureImages: true
          image:
            repository: aragawmebratu/moodle-with-tools
            tag: latest

          mariadb:
            enabled: false

          externalDatabase:
            host: "{{ external_db.host }}"
            port: "{{ external_db.port }}"
            user: "{{ external_db.user }}"
            password: "{{ external_db_password }}"
            database: "{{ external_db.database }}"
            type: pgsql

          moodleSkipInstall: true

          redis:
            enabled: false

          externalRedis:
            host: "{{ dragonfly.host }}"
            port: "{{ dragonfly.port }}"
            password: "{{ dragonfly_password }}"

          replicaCount: "{{ moodle.replica_count }}"

          moodleUsername: admin
          moodlePassword: "{{ moodle_admin_password }}"
          moodleEmail: admin@example.com

          service:
            type: "{{ moodle.service.type }}"
            nodePort: 31203

          persistence:
            enabled: "{{ moodle.persistence.enabled }}"
            size: "{{ moodle.persistence.size }}"
            storageClass: "{{ moodle.persistence.storageClass }}"
            accessModes: "{{ moodle.persistence.accessModes }}"

          resources: "{{ moodle.resources }}"

          livenessProbe:
            enabled: true
            initialDelaySeconds: 1800
            periodSeconds: 30
            timeoutSeconds: 20
            failureThreshold: 5

          readinessProbe:
            enabled: true
            initialDelaySeconds: 600
            periodSeconds: 20
            timeoutSeconds: 10
            failureThreshold: 8

      environment:
        KUBECONFIG: "{{ kubeconfig }}"  # ensures Helm binary uses correct cluster