---
- name: Tune PHP-FPM for Moodle
  hosts: moodle
  become: yes
  vars:
    php_fpm_conf_path: "/opt/bitnami/php/etc/php-fpm.d/www.conf"

    # Tuned PHP-FPM settings
    pm_type: "dynamic"
    max_children: 500
    start_servers: 50
    min_spare_servers: 50
    max_spare_servers: 100
    max_requests: 1000

  tasks:
    - name: Backup existing www.conf
      copy:
        src: "{{ php_fpm_conf_path }}"
        dest: "{{ php_fpm_conf_path }}.bak"
        remote_src: yes
        mode: 0644

    - name: Update PHP-FPM pm type
      lineinfile:
        path: "{{ php_fpm_conf_path }}"
        regexp: '^pm\s*='
        line: "pm = {{ pm_type }}"
        state: present

    - name: Update pm.max_children
      lineinfile:
        path: "{{ php_fpm_conf_path }}"
        regexp: '^pm.max_children\s*='
        line: "pm.max_children = {{ max_children }}"
        state: present

    - name: Update pm.start_servers
      lineinfile:
        path: "{{ php_fpm_conf_path }}"
        regexp: '^pm.start_servers\s*='
        line: "pm.start_servers = {{ start_servers }}"
        state: present

    - name: Update pm.min_spare_servers
      lineinfile:
        path: "{{ php_fpm_conf_path }}"
        regexp: '^pm.min_spare_servers\s*='
        line: "pm.min_spare_servers = {{ min_spare_servers }}"
        state: present

    - name: Update pm.max_spare_servers
      lineinfile:
        path: "{{ php_fpm_conf_path }}"
        regexp: '^pm.max_spare_servers\s*='
        line: "pm.max_spare_servers = {{ max_spare_servers }}"
        state: present

    - name: Update pm.max_requests
      lineinfile:
        path: "{{ php_fpm_conf_path }}"
        regexp: '^;?pm.max_requests\s*='
        line: "pm.max_requests = {{ max_requests }}"
        state: present

    - name: Reload PHP-FPM to apply new configuration
      shell: |
        systemctl reload php-fpm
      args:
        warn: false
